@import 'tailwindcss';
/* @plugin 'tailwind-scrollbar'; */

/* Custom breakpoints */
@theme {
  --breakpoint-3xl: 120rem;
}

/* Custom animations */
@theme {
  --animate-fade-out: fade-out 4s ease-out;
  --animate-slide-up: slide-up 0.2s ease-out;

  @keyframes fade-out {
    25% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

section {
  @apply animate-slide-up;
}
